@import url('https://fonts.googleapis.com/css?family=Lato');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;

}
.table-dark{
  background-color:#040714 !important;
}
.App{
  background-color:#040714;
  /* height: 100vh; */
}
.car-small {
  position: absolute;
  left:100px;
  top:30px;
  color: #fff;
}
.car-title{
  position:absolute;
  left:100px;
  top:60px;
  color: #fff;
  font-size: xx-large;
}
.car-desc{
  position:absolute;
  left:100px;
  top:150px;
  color: #fff;
  margin-right:200px ;
}
.car-rat-1{
  position: absolute;
  color: #fff;
  top:10px;
  right:40px;
}
.car-rat-2{
  position: absolute;
  color: #fff;
  top:10px;
  right:15px;
}

.car-btn1 {
  position: absolute;
  left:100px;
  top: 110px;
  opacity: 0.65;
}
.car-btn2 {
  position: absolute;
  left:250px;
  top: 110px; 
  opacity: 0.65;
}
.carousel-item{
  height: 300px;
}
.carousel-item img{
  filter: brightness(65%);

}
.carousel-item > img { 
  width: 100%; 
  height: 100%;
  border-radius: 15px;
} 
.searchbar{
  font-family: "FontAwesome";
  width: 600px;
  margin-left: 100px;
  border-color: #222;
}
.searchbar input{
  background-color: #222;
  border-radius: 15px;
  font-family: "FontAwesome";
}
.row-content{
  color: #fff;
  margin:20px;
}
.row-content .bt3{
width:150px;
margin-left: 1050px;
margin-bottom: 25px;
}
.row-content .movie{
  background-color: #040714;
  color: #fff;
  
}
 .movie-img{
  width:100% !important;
  height: 150px !important;
  /* object-fit: cover; */
}
.row-content .movie .carbody{
  background-color: #121a4193;
  border: #222;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 25px;
}
 .tvseries .tcard{
  width: 98%;
  height: 350px;
  border-radius: 15px;
  margin-left: 5px;

} 
.tvseries .tcard .tcardimg{
  border-radius: 15px;
  filter: brightness(75%);
}
.tvseries .tcard > .tcardimg{
 width: 100%;
 height:100%;
}
.tvseries .tcard .bt{
  border-radius: 25px;
  width: 150px;
}
.tvseries .tcard .bt{
  border-radius: 25px;
  width: 150px;
}
.tvseries .tcard .bt:hover{
  background-color: white;
  color: #222;
}
#continue{
  padding: 25px; 
}
 #play {
  position: absolute !important;
  left: 50px !important;
  top: 12px !important;

} 
#play1{
  bottom:0 !important;
  top:120px !important;
  padding-left: 45px !important;
}
.continueimg{
  filter: brightness(75%);
} 
